body, html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("https://99px.ru/sstorage/53/2017/02/tmb_192125_8218.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}